<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/bootstrap.min.css"> 
    <style>
      .done {
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <main id="app" class="container">
      <h3>{{title}}</h3>
      <form @submit.prevent="addTodo">
        <label for="newTodo">Task List</label><br>
        <input v-model="newTodo" type="text" placeholder="Enter Task name" name="newTodo" id="newTodo" value="">
        <button class="btn btn-primary btn-lg" type="submit" name="button">Add</button>
      </form><br>
      <button @click="allDone" class="btn btn-success btn-lg allDone" type="button" name="button">All Done</button><br><br><br>
       <ul>
        <li v-for="todo in todos">
          <input type="checkbox" v-model="todo.done">
          <span :class="{ done: todo.done }">{{todo.title}}</span>
          <button @click="removeTodo(todo)" class="remove btn btn-danger" type="button" name="button">Remove</button>
        </li>
      </ul>
    </main>
    <script src="js/vue.js"></script>
    <script src="js/app.js" charset="utf-8"></script>
  </body>
</html>
